<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title> FloraBasket - Online Flower Shopping System | Home</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/tab_logom.ico">
    <!-- tabdaki logo üstte  -->
    <!-- Core Style CSS -->
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="css/style.css">

</head>

<h1>Access Denied...</h1>
<h6>You do nout have permission to access this page.</h6>

</html>